<div style="margin-top: 40px; display: flex; flex-direction: column; align-items: center;">
  <h1 style="width: fit-content;text-align: center;color: #20B2AA; margin-top: 40px"><%=t :STUDENTS %></h1>
  <table class="table table-striped" style="margin-top: 40px;">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%=t :Surname %></th>
      <th scope="col"><%=t :Institution %></th>
      <th scope="col"><%=t :Is_enrolled %></th>
      <th  scope="col"><div style="display: flex; flex-direction: row;">
        <span style="margin-right: 5px;"><%= link_to t("wanted_college"), show_wanted_to_college_path, :class => "btn btn-primary" %></span>
        <span><%= link_to t("enrolled_in_college"), show_got_to_college_path, :class => "btn btn-primary" %></span>
      </div>
      </th>


    </tr>
    </thead>
    <tbody>
    <% @students.each do |student| %>

      <tr>
        <th scope="row"><%= student.id %></th>
        <td style="text-overflow: ellipsis; overflow: hidden; "><span><%= student.surname %></span></td>
        <td style="text-overflow: ellipsis; overflow: hidden; "><%= student.institution %></td>
        <td style="text-overflow: ellipsis; overflow: hidden; "><%= student.enrolled %></td>
        <td style="text-align: left;"><span ><%= link_to t("ed"), edit_student_path(student), :class => "btn btn-primary" %></span>
          <span><%= link_to t("del"), delete_student_path(student), data: {confirm:"Delete this student?"}, :class => "btn btn-danger" %></span>
        </td>
      </tr>
    <%end %>

    </tbody>
  </table>

</div>